<!doctype html>
<html>
<head>
    <meta charset="utf-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Angular Application</title>
</head>
<body>

    <div ng-app="app">
        <div ng-controller="ContactController as contact">
            Hello, {{ contact.name }}!
            <br />
            Here is your:
            <br />
            Telephone: {{ contact.phone }}
            <br />
            Email: {{ contact.email }}
            
            <br />
            <br />

            <div ng-controller="StaffController as staff">
                Hello, {{ staff.name }}!
                <br />
                Here is your:
                <br />
                Telephone: {{ staff.phone }}
                <br />
                Email: {{ staff.email }}
            </div>
            <br/>

            <div>How about a new Main Contact name?<br/>
            <input type="text" ng-model="contact.newName">
            </div>
            <button ng-click="contact.changeName(contact.newName)">Update Contact Name</button>
        
        </div>
    </div>

    <script src="js/angular.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/controllers/ContactController.js"></script>
    <script src="js/app/controllers/StaffController.js"></script>

</body>
</html>
